body {
  position: relative;
  background-color: #cc0000;
}
#newboard {
  width: 790px;
  height: 700px;
  background-color: rgb(66, 63, 63);
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  float: left;
  margin: 50px 10apx 50px 20px;
}

.row {
  display: flex;
  justify-content: center;
}

.unexplored {
  box-sizing: border-box;
  width: 80px;
  height: 80px;
  background-color: sandybrown;
  border: 1px solid black;
}
.entry {
  box-sizing: border-box;
  width: 80px;
  height: 80px;
  background-color: #612D07;
  border: 1px solid black;
}

.chamber {
  box-sizing: border-box;
  width: 80px;
  height: 80px;
  background-color: yellow;
  border: 1px solid black;
}

.interfaces {
  width: 550px;
  float: right;
  display: flex;
  flex-direction: column;
  justify-content: flex-center;
  align-items: center;
  margin: 75px 25px 100px 10px;
}

.player-interface {
  font-size: 2rem;
  width: 550px;
  height: 300px;
  border: 5px solid rgb(223, 201, 0);
  background-color: rgb(230, 115, 21);
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.player-interface span {
  margin-left: 20px;
  font-size: 3rem;

}
.name {
color: rgb(24, 82, 207);
}

.health {
 color: rgb(179, 0, 0);
}

.gold {
  color: gold;
}

.meeple {
  box-sizing: border-box;
  width: 80px;
  height: 80px;
  border: 1px solid black;
  text-align: center;
}

.meeple img {
  width: 40px;
  padding: 20px;
  z-index: 1;
}

.explored {
  box-sizing: border-box;
  width: 80px;
  height: 80px;
  border: 1px solid black;
}

.suggested {
  box-sizing: border-box;
  border: 7px solid green;
}

.main-img img {
  display: block;
  width: 550px;
}

.event-modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 800px; 
  height: 800px;
  overflow: auto; 
  background-color: rgba(0,0,0,0.4); 
}

.modal-content {
  background-color: rgb(223, 201, 0);
  margin: auto;
  padding: 20px;
  border: 5px solid rgb(230, 115, 21);
  width: 80%;
  font-size: 25px;
}
.modal-content h2 {
  margin: 10px 20px;
  font-size: 40px;
  color: rgb(179, 0, 0);
}

.close {
  color: rgb(24, 82, 207);
  float: right;
  font-size: 80px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: rgb(179, 0, 0);
  text-decoration: none;
  cursor: pointer;
}